---
---

@import "minima";

/* === Dark background overrides === */

body {
  background-color: #000000;
  color: #e6e6e6;
}

.site-header,
.site-footer,
.page-content {
  background-color: #000000;
}

h1, h2, h3, h4, h5 {
  color: #ffffff;
}

a {
  color: #7aa2ff;
}

a:hover {
  color: #a6c8ff;
}
